.container__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #161719;
    color: #fff;
    padding: .5em;
}

.container__footer img{
    width: 250px;
}

.container__footer div {
    width: 100vw;
    text-align: center;
}

.container__footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}