.container__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: #161719;
  color: #fff;
}

.container__footer img {
  width: 250px;
}

.container__footer span {
  margin: 0.5em 0;
}

.container__footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
