.banner {
  max-height: 800px;
  background-color: #181a1f;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  position: relative;
}

.img__banner {
  width: 100%;
  opacity: 0.5;
}

.img__card {
  width: 30%;
  max-width: 420px;
  position: absolute;
  top: 10%;
  box-shadow: 0px 0px 10px #1f1e1e;
}
